
  /* ====================== Restaurant Details ====================== */
  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
      width: 90%;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
      width: 90%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 40px 80px;
  }
  
  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #reviews-list {
    margin: 0;
    padding: 0;
  }
  #reviews-list li {
    background-color: #fff;
      border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
  }
  #reviews-list li p {
    margin: 0 0 10px;
  }
  #restaurant-hours td {
    color: #666;
  }

    /* ====================== Reviews Form ====================== */
    .submit-review{
        max-width: 500px;
        padding: 20px 12px 10px 20px;
        font: 13px Arial, Helvetica, sans-serif;
    }
    .submit-review-heading{
        font-weight: bold;
        font-family: Arial,sans-serif;
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 3px;
    }
    .submit-review label{
        display: block;
        margin: 0px 0px 15px 0px;
    }
    .submit-review label > span{
        width: 100px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }
    .submit-review span.required{
        color:red;
    }
    .submit-review .tel-number-field{
        width: 40px;
        text-align: center;
    }
    .submit-review input.input-field, .submit-review .select-field{
        width: 48%; 
    }
    .submit-review input.input-field, 
    .submit-review .tel-number-field, 
    .submit-review .textarea-field, 
     .submit-review .select-field{
        box-sizing: border-box;
        border: 1px solid #C2C2C2;
        border-radius: 3px;
        padding: 7px;
        outline: none;
    }
    .submit-review .input-field:focus, 
    .submit-review .tel-number-field:focus, 
    .submit-review .textarea-field:focus,  
    .submit-review .select-field:focus{
        border: 1px solid #0C0;
    }
    .submit-review .textarea-field{
        height:100px;
        width: 55%;
    }
    .submit-review input[type=submit],
    .submit-review input[type=button]{
        border: none;
        padding: 8px 15px 8px 15px;
        background: #0275d8;
        color: #fff;
        box-shadow: 1px 1px 4px #DADADA;
        border-radius: 3px;
    }
    .submit-review input[type=submit]:hover,
    .submit-review input[type=button]:hover{
        background: rgb(96, 136, 248);;
        color: #fff;
    }

    .checked {
      color: orange;
    }

    .fa-star{
      font-size: 2em;
    }

    @media screen and (min-width: 650px){
      .restaurant-pack {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
      }
    
      #restaurant-container, .submit-review{
        width: 50%;
      }
    }

    @media screen and (min-width: 1200px){
      .all-pack{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
      }

      .restaurant-pack {
        width: 60%;
      }

      .reviews-pack{
        width: 40%;
      }
    }

